{% extends base %}
{% block content %}
<style type="text/css">
	.job{
		border: 2px solid #003e7e;
		margin:1rem;
		color: #003e7e;
		padding: 2rem;
		display: grid;

	}
	#main-title{
		text-align: center;
		padding: 0;
		color: #003e7e;	
	}
	.photo{
		width: 125px;
		grid-column: 1;
	}

	.content{
		padding: 2rem;
		word-wrap: break-word;
	}
	.form{
		margin-left: 2rem;
		text-align: center;
	}
</style>
<div class="job">
    <div style="grid-column: 1;"><img src="https://pbs.twimg.com/profile_images/1097896051/SilverSurfer_cut_400x400.jpg" class="photo"></div>
    <div style="grid-column: 2" class="content">
        <div class="title"><b> Silver Surfer Company </b></div>
        <br>
        <div style="w"> {{forum.forum}} </div>
    </div>
</div>

{% if all_comments %}
    {% for data in all_comments %}
    <div class="job">
        <div style="grid-column: 1;"><img src="https://pbs.twimg.com/profile_images/1097896051/SilverSurfer_cut_400x400.jpg" class="photo"></div>
        <div style="grid-column: 2" class="content">
            <div class="title"><b> {{ data.name }} </b></div>
            <br>
            <div style="w">{{ data.comment_content }}</div>
        </div>
    </div>
    {% endfor %}
{% endif %}

<div class="form">
    <h1 id="main-title">Add New Comment</h1>
    <form id="form" method="POST" action="{% url 'jobForum:add_comment' id %}">
	    {% csrf_token %}
	    {{ comment_form }}
	    <br>
	    <div style="margin: 1rem;text-align: center">
	    <input id="submit" class="cd-btn" type="submit" id="btn-purchase" data-wipe="Add New Comment" value="Add New Comment" data-wow-delay="1s"></div>
	    <br>
     </form>
</div>

{% endblock %}