<!-- /// JUMBOTRON \\\ -->
<div class="jumbotron cd-intro">
  <div class="container cd-intro-content mask">
    <div class="hr animated fadeIn">
      <img src="https://res.cloudinary.com/dhea7np5x/image/upload/v1459023870/leaf-logo-w_r49wrn.png" alt="Maple Leaf logo">
      <hr>
    </div>

    <h1 data-content="Ultimate Hockey Pack"><span>Ultimate Hockey Pack</span></h1>

    <div class="action-wrapper">
      <p>
        <a href="#packages" class="cd-btn main-action" role="button">Learn More</a>
        <a href="https://oss.ticketmaster.com/html/home.htmI?team=mapleleafs" class="cd-btn" id="btn-purchase" target="_blank" role="button">Purchase Your Pack</a>
      </p>
    </div>
  </div>
</div>
<!-- /// END JUMBOTRON \\\ -->