{% extends base %}

{% block content %}
<style>
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profile {
  width: 1080px;
  left: 50%;
  float: left;
  position: relative;
  margin: 50px 0px 50px 0px;
  margin-left: -540px;
  cursor: pointer;
}

.profile .imageHolder {
  float: left;
  width: 30%;
  position: relative;
  left: 5%;
}

.profile .imageHolder .profilePic {
  width: 100%;
  float: left;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-box-shadow: 0px 0px 31px -1px #474747;
  -moz-box-shadow: 0px 0px 31px -1px #474747;
  box-shadow: 0px 0px 31px -1px #474747;
}

.profile .imageHolder:after {
  content: '';
  pointer-events: none;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  min-height: 30vh;
  display: block;
  top: 4vw;
  opacity: 0;
  float: left;
  position: absolute;
  z-index: 1000;
  left: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  animation: bounce .5s linear infinite;
  animation-play-state: paused;
}

.profile h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #D10606;
  position: absolute;
  width: 100%;
  padding: 0px 0px 0px 32%;
  margin-top: -50px;
  margin-bottom: 0px;
  font-size: 15vw;
  letter-spacing: 1vw;
  z-index: 10000;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.profile h1:after {
  content: '';
  float: left;
  position: absolute;
  left: 50%;
  bottom: -10vw;
  width: 5px;
  height: 10vw;
  background-color: #D10606;
}

.profile:hover h1 {
  transform: translateY(30vw);
}

.profile:hover .profilePic {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
}

.profile:hover .imageHolder:after {
  opacity: 1;
  animation-play-state: running;
}

.profile .infoHolder {
  width: 60%;
  float: right;
  right: 1%;
  position: absolute;
  overflow-x: hidden;
}

.profile .infoHolder h2 {
  font-family: 'Fjalla One', sans-serif;
  color: #003e7e;
  letter-spacing: 3px;
  margin-top: 0px;
  float: left;
  width: 100%;
  transform: translateX(102%);
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.profile .infoHolder p {
  font-family: 'Roboto Slab', serif;
  float: left;
  margin-top: 0px;
  width: 100%;
  transform: translateX(102%);
  transition: all .62s ease;
  -webkit-transition: all .62s ease;
}

.profile:hover .infoHolder h2, .profile:hover .infoHolder p {
  transform: translateX(0%);
}

@media screen and (min-width: 1080px) {
  .profile h1 {
    margin-top: 50pt;
    font-size: 100pt !important;
    letter-spacing: 12pt !important;
  }
  .profile h1: after {
    bottom: -120px !important;
    height: 120px !important;
  }
  .profile:hover h1 {
    transform: translateY(320px);
  }
}

@media screen and (max-width: 1080px) {
  .profile {
    width: 100%;
    left: 0%;
    margin-left: 0px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cta-btn-wrapper{
  padding-bottom: 155vh;
  padding-top: 10vh;
}
</style>

<div class="profile" >
  <div class="imageHolder"><img class="profilePic" src="https://i.imgur.com/9H1imhh.jpg"></div>
</div>
  {% if user %}
  <h1 class="strokeme" id="company_name_kill_me"> {{ user.nama }}</h1>
  <div class="infoHolder">
  <h2>Welcome!</h2>
  
  <p id="company_desc_kill_me">Company Description : {{ user.deskripsi }}</p>
  <p id="company_type_kill_me">Company Type : {{ user.tipe }} </p>
  <p id="company_web_kill_me">Website : {{ user.weburl }}</p>
  <p id="company_specialty_kill_me">Specialties : {{ user.specialties }} </p>

  {% endif %}

  <p>
    <a class="cd-btn main-action" data-wipe="Looking for Student" role="button" data-wow-delay="1s">Looking For Student</a>
    <a href="/job-forum/" class="cd-btn main-action" data-wipe="See Villain Forum" role="button" data-wow-delay="1s">See Villain Forum</a>
  </p>

</div>



<div id="name"></div>
<div id="picture"></div>


{% endblock %}
