@import url(https://fonts.googleapis.com/css?family=Lato|Oswald:400,300);

/* -------------------------------- 
ANIMATED HEADER
Primary style
-------------------------------- */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #040404;
  background-color: #ffffff;
}

a {
  color: #2e416a;
  text-decoration: none;
}

/* -------------------------------- 

General Style

-------------------------------- */
.cd-intro {
  position: relative;
  height: 100vh;
  width: 100%;
  /* vertically align its content */
  display: table;
  background: #2e416a;
  overflow: hidden;
}

.cd-intro-content {
  /* vertically align inside its parent */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-intro-content h1 {
  font-size: 2.4rem;
  color: #ffffff;
}
.cd-intro-content p {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 1em 0;
  color: #6d7a97;
}
.cd-intro-content .action-wrapper {
  display: inline-block;
}
.cd-intro-content .action-wrapper::after {
  clear: both;
  content: "";
  display: table;
}
.cd-intro-content .action-wrapper > * {
  float: left;
}
@media only screen and (min-width: 768px) {
  .cd-intro-content h1 {
    font-size: 5.2rem;
    font-weight: 300;
  }
  .cd-intro-content p {
    font-size: 1.6rem;
    margin: 1.5em 0 1.9em;
  }
}

.cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #202e4a;
  border-radius: .25em;
  margin-right: 1.5em;
  transition: background-color 0.3s ease;
}
.cd-btn:hover {
  background-color: #1a263d;
}

.cd-btn:hover,
.cd-btn:active,
.cd-btn:visited {
  color: #fff;
  text-decoration:none;
}
.cd-btn:nth-of-type(2) {
  margin-right: 0;
}
.cd-btn.main-action {
  background-color: #fb5e58;
  transition: background-color 0.3s ease;
}
.cd-btn.main-action:hover {
  background-color: #d85450;
}
@media only screen and (min-width: 480px) {
  .cd-btn {
    padding: 1.2em 1.6em;
  }
}
@media only screen and (min-width: 768px) {
  .cd-btn {
    padding: 1.4em 1.8em;
  }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}

/* -------------------------------- 

Reveal

-------------------------------- */
.reveal.cd-intro-content h1 {
  position: relative;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.reveal.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  opacity: 0;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content h1 {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.reveal.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 1em;
  background-color: #202e4a;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 1170px) {
  .reveal.cd-intro-content p {
    padding: 1em 1.6em;
  }
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
     -moz-animation-duration: 0.4s;
          animation-duration: 0.4s;
  
     -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
             animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
  position: relative;
  overflow: hidden;
}
.reveal.cd-intro-content .action-wrapper::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #202e4a;
  -webkit-animation: cd-loading 0.4s 0.3s backwards;
  -moz-animation: cd-loading 0.4s 0.3s backwards;
  animation: cd-loading 0.4s 0.3s backwards;
}
.reveal.cd-intro-content .action-wrapper .cd-btn {
  display: block;
  opacity: 1;
  max-width: 200px;
  margin: 1em auto 0;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content .action-wrapper .cd-btn {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
/* -------------------------------- 

Mask

-------------------------------- */
.mask.cd-intro-content h1 {
  position: relative;
  padding-bottom: 10px;
  /* overwrite default style */
  opacity: 1;
  /*font-weight: 700;*/
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.mask.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.mask.cd-intro-content h1 span {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.mask.cd-intro-content h1 span::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: calc(100% + 8px);
  left: -1em;
  height: 2px;
  width: calc(100% + 2em);
  background-color: #ffffff;
  -webkit-animation: cd-loading-mask 1s 0.3s both;
  -moz-animation: cd-loading-mask 1s 0.3s both;
  animation: cd-loading-mask 1s 0.3s both;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content h1 {
    padding-bottom: 20px;
  }
  .mask.cd-intro-content h1 span::before {
    top: calc(100% + 18px);
  }
}

.mask.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content p {
    padding-top: 20px;
  }
}

.mask.cd-intro-content h1::after,
.mask.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mask.cd-intro-content .action-wrapper {
  overflow: hidden;
}
.mask.cd-intro-content .action-wrapper .cd-btn {
  opacity: 1;
  margin: 0 0 0 1.5em;
}
.mask.cd-intro-content .action-wrapper .cd-btn:first-of-type {
  margin-left: 0;
}

@-webkit-keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading-mask {
  0%, 100% {
    -moz-transform: scaleX(0);
  }
  40%, 60% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* END ANIMATED HEADER */

/*---------------------------------------------
GENERAL STYLES
----------------------------------------------*/

body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #656f7a;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #003e7e;
}

.break {
	height: 25px;
	width: 100%;
	margin-bottom: 15px;
	background: #003e7e;
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
	}
}
@media (max-width: 559px) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 439px) {
	body {
		font-size: 14px;
	}
}
@media (max-width: 359px) {
  body {
    font-size: 12px;
  }
}

/*---------------------------------------------
JUMBOTRON
----------------------------------------------*/

.jumbotron {
	background: #003e7e;
/* 	background: -webkit-radial-gradient( 
		rgba(0, 62, 126, .4),
		rgba(0, 36, 73, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023882/acc_r30vxt.jpg");
	background: -o-radial-gradient( 
		rgba(0, 62, 126, .4),
		rgba(0, 36, 73, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023882/acc_r30vxt.jpg");
	background: radial-gradient( 
		rgba(0, 62, 126, .4),
		rgba(0, 36, 73, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023882/acc_r30vxt.jpg"); */
	background-size: cover;
	background-position: 50% 80%;
	background-repeat: no-repeat;
	height: 92vh;
	margin: 0;
	-webkit-box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
			box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
}

.jumbotron h1 {
	color: #fff;
	font-weight: 400;
	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
}

.hr {  
	width: 65vw;
	margin: 0 auto;
	-webkit-animation-duration: 2.25s;
	   -moz-animation-duration: 2.25s;
			animation-duration: 2.25s;

	   -webkit-animation-delay: 1.5s;
   		  -moz-animation-delay: 1.5s;
			   animation-delay: 1.5s;
}

.hr hr {
	background-color: #fff;
	position: relative;
	top: -50px;
	border: none;
	height: 2px;
}

.hr img {
	width: 75px;
	position: relative;
	z-index: 1;
}

@media (max-width: 991px) {
	.jumbotron h1 {
		font-size: 3em;
	    letter-spacing: .1em;
	}
}
@media (max-width: 767px) {
	.hr img {
		width: 60px;
	}
	.hr hr {
		top: -43px;
	}
}
@media (max-width: 559px) {
	.jumbotron {
		z-index: 1;
	}
}
@media (max-width: 399px) {
	#btn-purchase {
		display: block;
		margin: 25px 0 0 0;
	}
}
@media (max-width: 304px) {
	.hr img {
		width: 45px;
	}
}

/*---------------------------------------------
TICKET PACKAGES
----------------------------------------------*/

.packages {
	background: #fff;
/* 	background: -webkit-linear-gradient( 
		rgba(255, 255, 255, .8),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023875/ice-texture_xabc4m.jpg");
	background: -o-linear-gradient( 
		rgba(255, 255, 255, .8),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023875/ice-texture_xabc4m.jpg");
	background: linear-gradient( 
		rgba(255, 255, 255, .8), 
		rgba(255, 255, 255, 1) 
		),  */
/* 		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023875/ice-texture_xabc4m.jpg"); */
	position: relative;
	margin: -7vh 0 0;
	padding: 5vh 0;
}

.packages h1 {
	font-size: 1.5em;
	margin: 0 auto 30px auto;
	max-width: 300px;
	padding: 15px 24px;
	border: 3px solid #28619b;
}

.wrapper-packages {
	background: #fff;
	background: -webkit-linear-gradient(#eee, #fff);
	background: -o-linear-gradient(#eee, #fff);
	background: linear-gradient(#eee, #fff);
	padding: 0 16vw;
}

@media (max-width: 1279px) {
	.wrapper-packages {
		padding: 0 10vw;
	}
}
@media (max-width: 991px) {
	.packages h1 {
		margin-top: 5vh;
	}
	.leafs-package:nth-child(2) {
		margin-top: 11vh;
	}
}
@media (max-width: 767px) {
	.packages h1 {
		margin-top: 3vh;
	}
	.leafs-package:nth-child(2) {
		margin-top: 7vh;
	}
}
@media (max-width: 559px) {
	.marlies-package .container {
		padding: 0 10vw;
	}
	.packages {
		margin: 0;
	}
	.wrapper-packages {
		padding: 0;
	}
}
@media (max-width: 399px) {
	.packages h1 {
		max-width: 250px;
	}
}
@media (max-width: 359px) {
	.packages h1 {
		max-width: 200px;
		padding: 15px;
	}
}

/*-----------------
TABLE (TICKET PACKAGES)
-------------------*/

table {
	margin: 5vh auto 0;
}

td {
	padding: 7px 0;
}

th {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #003e7e;
	text-transform: uppercase;
	border-bottom: 1px solid #28619b;
	padding-bottom: 6px;
}

table .date {
	text-align: right;
	border-right: 1px solid #28619b;
	padding-right: 20px;
}

table .team {
	padding-left: 20px;
}

table .time {
	padding-left: 70px;
}

table .pm {
	text-transform: lowercase;
	font-variant: small-caps;
}

@media (max-width: 1074px) {
	table .time {
		padding-left: 40px;
	}
}
@media (max-width: 991px) {
	table .date {
		padding-right: 40px;
	}
	table .team {
		padding-left: 40px;
	}
	table .time {
		padding-left: 110px;
	}
}
@media (max-width: 634px) {
	table .date {
		padding-right: 35px;
	}
	table .team {
		padding-left: 35px;
	}
	table .time {
		padding-left: 80px;
	}
}
@media (max-width: 559px) {
	table .time {
		padding-left: 100px;
	}
}
@media (max-width: 439px) {
	table .date {
		padding-right: 20px;
	}
	table .team {
		padding-left: 20px;
	}
	table .time {
		padding-left: 70px;
	}	
}
@media (min-width: 225px and max-width: 303px) {
	td {
		padding: 5px 0;
	}
	table .date {
		padding-right: 10px;
	}
	table .team {
		border-right: 1px solid rgba(0, 62, 126, .3);
		padding: 0 10px;
	}
	table .time {
		padding-left: 10px;
	}
}

/*---------------------------------------------
MARLIES PACKAGES
----------------------------------------------*/

.marlies-package {
	background: #fff;
/* 	background: -webkit-linear-gradient( 
		rgba(255, 255, 255, .4),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023878/ricoh_do5w1f.jpg");
	background: -o-linear-gradient( 
		rgba(255, 255, 255, .4),
		rgba(255, 255, 255, 1)
		), */
/* 		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023878/ricoh_do5w1f.jpg");
	background: linear-gradient( 
		rgba(255, 255, 255, .4),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023878/ricoh_do5w1f.jpg"); */
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-bottom: none;
	padding: 50vh 0;
    -moz-box-shadow:    inset  0  10vw 6vw -8px #ffffff, 
                        inset  0 -10vw 6vw -8px #ffffff;
    -webkit-box-shadow: inset  0  10vw 6vw -8px #ffffff, 
                        inset  0 -10vw 6vw -8px #ffffff;
     box-shadow:        inset  0  10vw 6vw -8px #ffffff, 
                        inset  0 -10vw 6vw -8px #ffffff;
}

.marlies-logo {
	margin: 0 auto 8vh;
	max-width: 300px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 1.5em;
}

ul.marlies-choices {
	padding-left: 20px;
	color: #002244;
	max-width: 500px;
	margin: 0 auto;
}

ul.marlies-choices li {
	margin: 20px 0;
	font-size: 1.25em;
	list-style-type: none;
}

@media (max-width: 991px) {
	.marlies-package {
		padding: 47vh 0;
	}
	.marlies-logo {
		max-width: 275px;
	}
	ul.marlies-choices li {
		font-size: 1.2em;
	}
}
@media (max-width: 767px) {
	.marlies-package {
		padding: 45vh 0;
	}
	.marlies-logo {
		max-width: 260px;
	}
}
@media (max-width: 559px) {
	h3 {
		font-size: 1.6em;
		line-height: 1.5em;
	}
	.marlies-logo {
		max-width: 250px;
	}
}
@media (max-width: 439px) {
	.marlies-package {
		padding: 35vh 0;
	}
}
@media (max-width: 399px) {
	.marlies-logo {
		max-width: 200px;
	}
}
@media (max-width: 359px) {
	.marlies-package {
		padding: 20vh 0;
	}
}

/*---------------------------------------------
CALL TO ACTION
----------------------------------------------*/

h2 {
	font-size: 2.5em;
	color: #fff;
	letter-spacing: .1em;
	font-variant: small-caps;
}

h2 small {
	color: #ddd;
	font-weight: 300;
}

.cta {
	background: #003e7e;
	padding: 10vh 0;
	-webkit-box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
	   -moz-box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
			box-shadow: 0px 12px 20px -2px rgba(0,0,0,0.5);
}

.cta-btn-wrapper {
	background: #fff;
	background: -webkit-radial-gradient( 
		rgba(255, 255, 255, .7),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023873/acc-ice_gm3lpt.jpg");
	background: -o-radial-gradient( 
		rgba(255, 255, 255, .7),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023873/acc-ice_gm3lpt.jpg");
	background: radial-gradient( 
		rgba(255, 255, 255, .7),
		rgba(255, 255, 255, 1)
		),
		url("https://res.cloudinary.com/dhea7np5x/image/upload/v1459023873/acc-ice_gm3lpt.jpg");
	background-position: center center;
	background-attachment: fixed;
	padding: 30vh 0;
}

@media (max-width: 991px) {
	.cta h2 {
		font-size: 2em;
	}
}
@media (max-width: 359px) {
  .cta {
    padding: 5vh 0;
  }
  .cta-btn-wrapper {
    padding: 22vh 0;
  }
}

/*---------------
CTA Button 
from https://codepen.io/souporserious/pen/pvbdWe
----------------*/
[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid #fff;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #fff;
  overflow: hidden;
  background: #fb5e58;
}
[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #fff;
  background: #003e7e;
}
[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}
[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.2s ease-in-out;
}
[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}
[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.2s ease-in-out;
}

/*---------------------------------------------
FOOTER
----------------------------------------------*/

footer {
	height: 65px;
	padding: 7px 0;
	background: #003e7e;
}

footer img {
	margin: 0 auto;
	width: 40px;
	height: auto;
}
