{% extends base %}
{% load staticfiles %}
{% load static %}


{% block content %}


<style type="text/css">
    .job{
        text-align: left;
        border: 2px solid #003e7e;
        margin:1rem;
        color: #003e7e;
        padding: 2rem;
        display: grid;

    }
</style>

<h2 id="main-title" style="color: #173c77; text-align: center;"><font>Silver Surfer Company Job Forum</font></h2>
{% if all_forum %}
    {% for data in all_forum %}
        <div class="job">
            <div style="grid-column: 1;"><img src="https://pbs.twimg.com/profile_images/1097896051/SilverSurfer_cut_400x400.jpg" class="photo" style="width: 100px;height: 100px;"></div>
            <div style="grid-column: 2" class="content">
                <br>
                <div class="title"><b> Silver Surfer Company </b></div>
                <br>
                <div style="w">{{ data.forum }}</div>
                <a href="{% url 'jobForum:comments' data.id %}" class="btn btn-warning"> View Comment </a>
            </div>
        </div>
     {% endfor %}
{% endif %}

<script type="text/javascript">
    var buatbaru = function(data){
        console.log("buat baru");
        $.ajax({
            method: "POST",
            url: '{% url "mainAndLogin:add_Perusahaan"}',
            data: {data},
            success: function(data){
                id = data['id'];
            },
        });
    };
</script>

{% endblock %}
